ADDR=:8080
ENV=development

APP_NAME=TrackForge
# IANA name, e.g. Asia/Kathmandu. The API refuses to start if it is invalid.
APP_TIMEZONE=UTC


DB_ADDR=postgres://postgres:postgres@localhost:5432/trackforge?sslmode=disable

DB_MAX_OPEN_CONN=30
DB_MAX_IDLE_CONN=30
DB_MAX_IDLE_TIME=15m
